mixin input(data,name,type="text",placeholder="",isRequired=false)
  .input-group 
    -if (isRequired)
      label.require= data
        |:
    -else
      label= data
        |:
    input(type=type, placeholder=placeholder name=name)

mixin checkbox(data)
  .checkbox 
    input(type="checkbox")
    span= data

mixin select(name,select,options)
  .select-option
    label.mr-2=name
      |:
    select
      option(value="")=select
      each item in options 
        option(value=item)=item 

mixin inputQuantity(number)
  .input-quantity 
    input(type="number" name="number" value=number)
    button.btn.btn__primary Mua ngay
