mixin input(data,name,type="text",placeholder="",isRequired=false)
  -if (data!="")
    .input-group 
      label(class=`${isRequired ? "require" : ""}`)= data
        |:
      input(type=type, placeholder=placeholder name=name class=name)
  -else
    .input-group
      input(type=type, placeholder=placeholder name=name class=name)

mixin checkbox(data)
  .checkbox 
    input(type="checkbox")
    span= data

mixin select(name,select,options)
  .select-option
    label.mr-2=name
      |:
    select
      option(value="")=select
      each item in options 
        option(value=item)=item 

mixin inputQuantity(number)
  .input-quantity 
    input(type="number" name="number" value=number)
    button.btn.btn__primary Mua ngay

mixin textArea(data,name,isRequired=false)
  .input-group 
    label(class=`${isRequired ? "require" : ""}`)= data
      |:
    textarea(name=name, cols="30", rows="10")
