mixin rating(product)
  .product-rate 
    span
      -const stars = [...Array(5)].map((_, index) => index < product.rate ? 'bx bxs-star' : 'bx bx-star')
      each star in stars
        i(class=star)
    span.reviews (#{product.reviews} Đánh giá)

mixin product(product)
  .product-item.w-100
    .product-body
      .product-img 
        img(src=product.image, alt=product.title)
      p.product-price= product.price
        | đ
      h3.product-title= product.title 
      +rating(product)
      .product-button
        a(href="#").btn.btn__primary mua ngay
        a(href="/product-detail.html").btn.btn__secondary xem chi tiết

mixin bigProduct(product)
  .product-item.w-100.height-big
    .product-body.big-product
      .col-sm-4.col-xs-12.product-img
        img(src=product.image, alt=product.title)
      .col-sm-8.col-xs-12.product-content
        h3.product-title= product.title 
        +rating(product)
        p.product-desc= product.desc
        p.product-price= product.price
          | đ
        .product-button
          a(href="#").btn.btn__primary mua ngay
          a(href="//product-detail.html").btn.btn__secondary xem chi tiết

mixin product-item-list-page(product)
  .product-item.w-100.height-big
    .product-body.big-product
      .col-sm-4.col-xs-12.product-img
        img(src=product.image, alt=product.title)
      .col-sm-8.col-xs-12.product-content.align-items-start
        h3.product-title= product.title 
        +rating(product)
        p.product-desc= product.desc
        p.product-price= product.price
          | đ
        .product-button
          a(href="#").btn.btn__primary mua ngay
          a(href="/product-detail.html").btn.btn__secondary xem chi tiết

mixin large-product(products)
  .product-list.large-product
    .col-lg-3.pr-0.product-col
      -for(var i = 0; i < 2; i++)
        .col-lg-12 
          .product-list__item.mb-4
            +product(products[i])
    .col-lg-6.pr-0.product-col
      -for(var i = 2; i < 3; i++) 
        .col-lg-12
          .product-list__item.mb-4
            +product(products[i])
    .col-lg-3.pr-0.product-col
      -for(var i = 3; i < 5; i++) 
        .col-lg-12
          .product-list__item.mb-4
            +product(products[i])

mixin products (products, size, type)
  .product-list
    - for(var i = 0; i < size; i++)
      div(class=`col-lg-4 col-sm-6 pr-0 ${type=='all' ? "" : "product-col"}`)
        .product-list__item.mb-4
          +product(products[i])

mixin bigProducts (products, size)
  .product-list
    - for(var i = 0; i < size; i++) 
      .col-lg-6.col-sm-12.pr-0.product-col
        .product-list__item.mb-4
          +bigProduct(products[i])

mixin product-list-page(products,size)
  .product-list
    -for(var i = 0; i < size; i++)
      .col-12.px-0
        .product-list__item.mb-4
          +product-item-list-page(products[i])
